<html>
<head>
	<title>Congregation Attendance Records</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
	<body>
		<div class="container-fluid">
			<h1>Pompton Lakes Congregation Attendance</h1>
		</div><!-- end container-fluid -->

		<div class="container-fluid">
			<h4>Congregation List</h4>

				{% for people in people %}
					<div class="row">

						<div class="col-md-3">
					
							{{ people }}
						</div>
						<div class="col-md-3">


							{{ people.date_of_meeting }}
						</div>
						<div class="col-md-3">

							{{ people.phone_number }}
						</div>
						<div class="col-md-3">

							{{ people.attended }}
						</div>
					</div>
					
				{% endfor %}

			
				</div><!-- end col-md-6 -->
				
			</div><!-- end row -->

		</div><!-- end container-fluid -->
	</body>
</html>